# dependencies
bower_components/
node_modules/
vendor/

# package manager files
npm-debug.log*
yarn-error.log

# development
*.tsbuildinfo
lib/*.map
tslint-to-eslint-config.log

# project specific
test.js
test.ts
todo.md
