# Folders
.circleci/
.editorconfig
src/
test/
types/

# Files
.gitignore
.travis.yml
*.tsbuildinfo
gulpfile.js
lib/*.map
npm-debug.log*
tsconfig.json
tslint-to-eslint-config.log
tslint.json
yarn-error.log

# project specific
test.js
test.ts
todo.md
